
 header{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
} 

.cards{
    background-color: rgb(194, 191, 175);
    border: 1px solid black;
    display: flex;
    margin: 12px;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: left;
    width: 400px;
    margin:1rem;
}

.botao{
    display: flex;
    padding: 0px 16px 16px;
    padding-left: 2%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

nav{
    display: flex;
    padding: 1%;
    justify-content: space-between;
} 